/* here you can put your own css to customize and override the theme */
a {
    cursor: pointer;
}

.Recommend_products_content .thumbnail {
    border: none;
}

.Recommend_products_content h3 {
    font-size: 1.15em;
    padding-top: 10px;
    padding-bottom: 4px;
}

.Recommend_products_content h3 a {
    color: #3e4d5c;
}

.Recommend_products_content h3 a:hover {
    text-decoration: none;
}

.sale-product h2 {
    margin-bottom: 0.5em;
}

.borderTopNone {
    border-top: none;
}

.price-availability-block .availability {
    margin-top: 16px;
}

.price-availability-block .price strong {
    font-size: 35px;
}

.del-goods {
    cursor: pointer;
}

.goods-page-price strong em, .goods-page-total strong em, .checkout-price strong em, .checkout-total strong em {
    font-style: normal;
}

.footer .text-left, .footer .text-right {
    text-align: center;
}

.paymethod label, .invite label {
    cursor: pointer;
    font-weight: normal;
}

#paymethod2 {
    margin-left: 0.5em;
}

.product-number {
    font-size: 21px;
}

.h1-title, .main h1 {
    font-size: 1.5em;
    margin-top: 0;
}

.h1-title span {
    font-size: 13px;
    margin-top: 1em;
}

#table-address a {
    cursor: pointer;
}

#table-address th {
    background: #ebecf0;
}

table .t-default {
    display: block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ff5000;
    border-radius: 3px;
    background: #ffd6cc;
    color: #f30;
    text-decoration: none;
}

.label-address {
    margin-bottom: 0.8em;
    cursor: pointer;
}

.label-address input {
    vertical-align: middle;
}

.label-address input[type=checkbox], .label-address input[type=radio] {
    margin: 0;
}

/* 订单列表 Start */
.margin10 {
    margin: 10px 0;
}

.border {
    border: 1px solid #ececec;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: #3c3c3c;
    table-layout: fixed;
}

.order-table th, .order-table td {
    text-align: center;
}

.order-table a {
    color: #3c3c3c;
    text-decoration: none;
    word-break: break-all
}

.order-table p {
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 1
}

.order-table td, .order-table th {
    padding-top: 10px;
    padding-bottom: 10px
}

.order-table th {
    font-weight: 400
}

.order-table td {
    vertical-align: middle;
    font-size: 0.6em;
}

.order-table-title {
    background: #f1f1f1;
}

.w80 {
    width: 40px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.text-left {
    text-align: left !important;
}

.product-name {
    margin-left: 0.2em;
}

.font-normal {
    font-style: normal;
}

button {
    cursor: pointer;
}

/* 订单列表 End */
.table-order th, .table-order td {
    text-align: center;
}

.table-w30 {
    width: 100%;
    text-align: center;
}

.order-null {
    line-height: 3em;
    height: 3em;
}

.red {
    color: red;
}

.width30 {
    width: 30%;
}

#send_price input {
    width: 100px;
    text-align: right;
}

.shopping-total strong span, .checkout-total-block strong span {
    font-size: 18px;
}

div.goods-page em {
    font-style: normal;
}

.shopping-total em, .checkout-total-block em {
    float: none;
    top: 0;
}

.table-order > tbody > tr > td, .table-order > tbody > tr > th, .table-order > tfoot > tr > td, .table-order > tfoot > tr > th, .table-order > thead > tr > td, .table-order > thead > tr > th {
    vertical-align: middle;
}

.footer-text-left {
    text-align: center !important;
}

.goods-data th, .checkout-page th {
    font-size: 1em;
}

.margin-left-20 {
    margin-left: 0.8em !important;
}

.goods-page-price strong, .goods-page-total strong, .checkout-price strong, .checkout-total strong {
    font-size: 1.2em;
}

.goods-page-price strong span, .goods-page-total strong span, .checkout-price strong span, .checkout-total strong span {
    font-size: 1em;
}

@media (min-width: 768px) {
    .footer .text-left, .footer-text-left {
        text-align: left !important;
    }

    .footer .text-right {
        text-align: right;
    }

    .goods-data th, .checkout-page th {
        font-size: 1.2em;
    }

    .order-table td {
        font-size: 1em;
    }

    .w80 {
        width: 80px;
        height: auto;
    }

    .margin-left-20 {
        margin-left: 20px !important;
    }

    .goods-page-price strong, .goods-page-total strong, .checkout-price strong, .checkout-total strong {
        font-size: 1.2em;
    }

    .goods-page-price strong span, .goods-page-total strong span, .checkout-price strong span, .checkout-total strong span {
        font-size: 17px;
    }
}

/* 导航美化 */
.header-navigation-content .nav-brands {
    margin: 0 0 6px;
}

.header-navigation-content ul li {
    display: inline-block;
}

.header-navigation-content .nav-brands li a {
    padding: 0 5px !important;
}

.header-navigation-content .nav-brands h4 {
    border-bottom: none;
}

.nav-brands ul {
    padding: 10px;
}

a.btn-custom {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 3px 10px 0;
    text-align: center;
    background: #eee;
    color: #3E4D5C;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none !important;
    margin-top: 3px;
}

a.btn-custom:hover {
    color: white;
    background: #E02222;
}

a.disabled {
    cursor: not-allowed;
}

.custom-div p {
    margin: 1em 0;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.custom-div p span button.hover {
    background: red;
    color: white;
}

#btn-ship {
    margin-top: 0.5em;
}

#button-confirm {
    margin-left: 0.5em;
}